/* Basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set background color for the page */
body {
    background-color: rgb(255, 255, 255);
}

/* Main container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container styling */
.form-container {
    background-color: hsl(31, 100%, 70%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Form heading */
.loginHeading {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bolder;
}

/* Input fields styling */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 5px 0;
    background-color: white;
    color: hsl(31, 100%, 70%);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(31, 100%, 8%);
}

/* Navigation bar styling */
nav {
    background-color: hsl(31, 100%, 70%);
    padding: 10px;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Styling for the login icon */
.login-icon {
    font-size: 24px;
}

label{
    font-weight: 700;
    font-size: 20px;
}